body {
    background-color: khaki;
    padding: 0px 50px 0px 50px;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: chocolate;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
table {
    background-color: steelblue;
    font-family: "comic sans ms";
    text-align: center;
}
th {
    background-color: #fff;
    font-size: 20px;
    text-align: center;
}
td {
    color: yellow;
    font-size: 18px;
}
h2 {
    color: brown;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Gotham HTF Thin";
}
.headerText{
    font-family: "Gotham HTF Thin";
    font-size: 50px;
    text-align: center;
}
.footerText {
    width: 350px; 
    border: dotted solid grey; 
    background-color: #fff; 
    text-align: center;
    font-family: tahoma; 
    font-size: 15px;
}
.menuItems {
    border: solid black 1px;
    font: bolder 30px;
    font-family: "comic sans ms";
}
label {
    font-weight: bold;
}
.bevMenu{
    text-align: left;
}
.bevMenu2{
    text-align: center;
}